@media screen and (min-width: 961px) {
    /*-----Header----*/
    #hamburger {
        display: none;
    }

    h1 {
        margin-left: 2vw;
    } 

    #navDesk {
        display: flex;
        width: 70%;
        justify-content: flex-end;

    }
    #navDesk ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    #navDesk li {
        margin-right: 3vw;
        font-size: 18px;
    }

    #deroulantBurger {
        display: none;
    }
    /*----carousel---*/
    #carousel {
        height: 85%;

    }

    #carousel h2, #carousel p {
        text-align: left;
    
    }

    #carousel h2 {
        font-size: 40px;
    }

    #carousel p {
        font-size: 25px;
    }

    #bandeau {
        height: 20%;
        justify-content: center;
    
    }

  
}